channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- ipywidgets =7.6.4
- pyiron_base =0.2.23
- pyiron_atomistics =0.2.23
- numpy =1.21.2
- pandas =1.3.2
- matplotlib-base =3.4.3
