channels:
- conda-forge
dependencies:
- coverage
- codacy-coverage
- ipywidgets =8.1.3
- pyiron_base =0.9.12
- pyiron_atomistics =0.6.11
- maggma =0.60.2
- numpy =1.26.4
- pandas =2.2.2
- matplotlib-base =3.9.1
- nbconvert =7.16.4
- nbformat =5.10.4
