channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- ipywidgets =8.1.2
- pyiron_base =0.7.5
- pyiron_atomistics =0.4.14
- maggma =0.60.2
- numpy =1.26.4
- pandas =2.2.0
- matplotlib-base =3.8.2
- nbconvert =7.16.0
- nbformat =5.9.2
