channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- ipywidgets =8.1.0
- pyiron_base =0.6.4
- pyiron_atomistics =0.3.2
- numpy =1.24.3
- pandas =2.1.0
- matplotlib-base =3.7.2
- nbconvert =7.8.0
- nbformat =5.9.2
